/*------------------------------------------------------------ 
  Reval - Fade-Up
------------------------------------------------------------*/

.reveal {
  opacity: 0;
}

.reveal.active.fade-up {
  animation: fade-up 1.5s ease forwards;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1.5;
    transform: translate(0);
  }
}

/*------------------------------------------------------------ 
  Reval - Fade-In
------------------------------------------------------------*/

.reveal.active.fade-in {
  animation: fade-in 1.5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}
