
/*------------------------------------------------------------
  Footer
------------------------------------------------------------*/

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-heading {
  text-align: center;
  margin: 25px 0;
}

.copywrite-container {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}

.footer-text {
  padding: 5px 5px;
  text-align: center;
}

.footer-text p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
}