/*------------------------------------------------------------
  Form
------------------------------------------------------------*/

.form-container {
  width: 90%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 35px;
  margin-bottom: 20px;
}

label {
  color: white;
}

.label-hidden {
  visibility: hidden;
}

.input-container {
  padding: 10px 0;
  width: 100%;
}

input,
textarea {
  color: var(--light-green);
  background-color: transparent;
  border: 1px solid var(--light-green);
  border-radius: 5px;
  width: 100%;
  padding: 18px;
  margin-top: 5px;
}

input {
}

textarea {
  height: 150px;
  resize: none;
}

.input-wrap {
  position: relative;
  display: flex;
}

.name-wrapper {
  width: 100%;
}

.input-container-1 {
  display: inline-block;
  width: 48%;
}

.input-container-1 input {
  display: block;
  width: 100%;
}

label span {
  color: #ff1d4e;
}



form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

form button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 7px 40px;
  margin: 10px 0 0 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main)),
    to(var(--main-dark))
  );
  background: var(--light-green);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #2b3136;
}

form button:hover {
  border: 1px solid white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px white;
  box-shadow: 0 0 8px white;
}

.inline-input .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

#status {
  padding: 15px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#status.success {
  background-color: var(--main);
  color: white;
  -webkit-animation: status 4s ease forwards;
  animation: status 4s ease forwards;
}

#status.error {
  background-color: #ff1d4e;
  color: white;
  -webkit-animation: status 4s ease forwards;
  animation: status 4s ease forwards;
}

/*------------------------------------------------------------
  Submit Status
------------------------------------------------------------*/

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
