/*------------------------------------------------------------
  Header
------------------------------------------------------------*/

#header {
  max-width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: var(--100px);
  padding: 0 var(--20px);
  border-bottom: 2px solid var(--light-green);
}

.text-logo {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  -webkit-transition: text-shadow 0.2s ease-in-out;
  -o-transition: text-shadow 0.2s ease-in-out;
  transition: text-shadow 0.2s ease-in-out;
  text-shadow: 0px 1px 5px var(--bright-green);
}

.logo {
  width: 100%;
  max-width: 120px;
  min-width: 120px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-right: 25px;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.25s ease-in-out;
  -o-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out;
}

.navbar ul li:hover {
  border-bottom: 1px solid var(--bright-green);
}

.navbar ul li a {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  display: inline-block;
  color: var(--light-green);
}

.navbar ul li a:hover {
  color: var(--bright-green);
}

/*------------------------------------------------------------ 
  max-width: 1280px
------------------------------------------------------------*/

@media only screen and (max-width: 80em) {
  .logo {
    width: 100%;
    max-width: 100px;
    min-width: 100px;
  }

  .navbar ul li a {
    font-size: var(--14px);
  }
}

/*------------------------------------------------------------ 
  max-width: 992px
------------------------------------------------------------*/

@media only screen and (max-width: 62em) {
  .navbar ul li {
    margin-right: var(--14px);
  }
}

/*------------------------------------------------------------ 
  max-width: 768px
------------------------------------------------------------*/

@media only screen and (max-width: 48em) {
  .menu {
    height: var(--80px);
  }

  .navbar .nav-links {
    display: none;
  }
}
