/*------------------------------------------------------------
  Main
------------------------------------------------------------*/

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --green: #fff;
  --light-green: #97fab8;
  --bright-green: #50ff8a;
  --dark-green: #002420;
  --dark: #000d0b;

  /* Positive Units */
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --50px: 3.125rem;
  --60px: 3.75rem;
  --70px: 4.375rem;
  --80px: 5rem;
  --100px: 6.25rem;
  --120px: 7.5rem;
  --140px: 8.75rem;
  --160px: 10rem;
  --200px: 12.5rem;

  /* Negative Units */
  ---10px: -0.625rem;
  ---12px: -0.75rem;
  ---14px: -0.875rem;
  ---16px: -1rem;
  ---18px: -1.125rem;
  ---20px: -1.25rem;
  ---28px: -1.75rem;
  ---30px: -1.875rem;
  ---40px: -2.5rem;
  ---60px: -3.75rem;
  ---80px: -5rem;
  ---100px: -6.25rem;
  ---120px: -7.5rem;
  ---140px: -8.75rem;
  ---160px: -10rem;
  ---200px: -12.5rem;

  /* Container */
  --1700px: 106.25rem;
}

/*------------------------------------------------------------
  Global
------------------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*------------------------------------------------------------
  Color
------------------------------------------------------------*/

.accent-1 {
  color: var(--light-green);
}

.line {
  background-color: var(--light-green);
  border: none;
  border-radius: 5px;
  height: 2px;
}

/*------------------------------------------------------------
  Layout
------------------------------------------------------------*/

section,
.section {
  padding: var(--80px) var(--40px);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container-lg {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.divider-text {
  padding: 0 var(--40px);
  text-align: center;
}

.center {
  text-align: center;
}

.border {
  border: 1px solid var(--bright-green);
}

/*------------------------------------------------------------ 
  min-width: 480px
------------------------------------------------------------*/

@media only screen and (min-width: 30em) {
  .divider-wrapper {
    padding: 0 var(--40px);
  }
}

/*------------------------------------------------------------ 
  min-width: 768px
------------------------------------------------------------*/

@media only screen and (min-width: 48em) {
  .divider-wrapper {
    padding: 0 var(--40px);
  }
}

/*------------------------------------------------------------ 
  max-width: 768px
------------------------------------------------------------*/

@media only screen and (max-width: 48em) {
  section,
  .section {
    padding: var(--40px) var(--20px);
  }

  .divider-text {
    padding: 0 var(--20px);
  }
}

/*------------------------------------------------------------ 
  max-width: 480px
------------------------------------------------------------*/

@media only screen and (max-width: 30em) {
  .divider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .divider-text {
    margin: 0 auto;
  }
}
