/*------------------------------------------------------------
  Global
------------------------------------------------------------*/

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --green: #fff;
  --light-green: #97fab8;
  --bright-green: #50ff8a;
  --dark-green: #002420;
  --dark: #000d0b;

  /* Positive Units */
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --50px: 3.125rem;
  --60px: 3.75rem;
  --70px: 4.375rem;
  --80px: 5rem;
  --100px: 6.25rem;
  --120px: 7.5rem;
  --140px: 8.75rem;
  --160px: 10rem;
  --200px: 12.5rem;

  /* Negative Units */
  ---10px: -0.625rem;
  ---12px: -0.75rem;
  ---14px: -0.875rem;
  ---16px: -1rem;
  ---18px: -1.125rem;
  ---20px: -1.25rem;
  ---28px: -1.75rem;
  ---30px: -1.875rem;
  ---40px: -2.5rem;
  ---60px: -3.75rem;
  ---80px: -5rem;
  ---100px: -6.25rem;
  ---120px: -7.5rem;
  ---140px: -8.75rem;
  ---160px: -10rem;
  ---200px: -12.5rem;

  /* Container */
  --1700px: 106.25rem;
}

/*------------------------------------------------------------
  Global
------------------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
}

/*------------------------------------------------------------
  Typography
------------------------------------------------------------*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300;
  font-style: italic;
}

h1,
.h1 {
  font-size: var(--60px);
}
h2,
.h2 {
  font-size: var(--40px);
}
h3,
.h3 {
  font-size: var(--30px);
}
h4,
.h4 {
  font-size: var(--24px);
}
h5,
.h5 {
  font-size: var(--20px);
}
h6,
.h6 {
  font-size: 18px;
}

p,
li {
  font-size: var(--18px);
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

.head-contr {
  text-align: center;
  margin-bottom: 40px;
}

.sub-head,
.sub-head-lg {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: var(--light-green);
}

.sub-head {
  font-size: var(--16px);
  margin-bottom: 5px;
}

.sub-head-lg {
  font-size: var(--20px);
  margin-bottom: 20px;
}

.main-head {
  font-size: 60px;
  font-weight: 300;
  padding: 0 40px;
}

.content p {
  margin-bottom: var(--20px);
}

.decor-text {
  display: inline-block;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--dark);
  background-color: var(--light-green);
  border-radius: 3px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

/*------------------------------------------------------------
  Color
------------------------------------------------------------*/

.accent-1 {
  color: var(--light-green);
}

.line {
  background-color: var(--light-green);
  border: none;
  border-radius: 5px;
  height: 2px;
}

/*------------------------------------------------------------
  Layout
------------------------------------------------------------*/

.section {
  padding: var(--80px) var(--40px);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-lg {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border {
  border: 1px solid var(--bright-green);
}

/*------------------------------------------------------------
  Buttons
------------------------------------------------------------*/

.btn-group {
  display: flex;
}

.btn-primary,
.btn-secondary {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 3px;
  padding: 10px 30px;
  min-width: 200px;
}

.btn-primary {
  color: var(--dark);
  background: var(--light-green);
  border: 2px solid var(--light-green);
  transition: background 0.25s ease-in-out;
}

.btn-primary:hover {
  cursor: pointer;
  border: 2px solid var(--bright-green);
  background: var(--bright-green);
}

.btn-secondary {
  color: var(--light-green);
  background: transparent;
  border: 2px solid var(--light-green);
  transition: background 0.25s ease-in-out;
}

.btn-secondary:hover {
  cursor: pointer;
  background: var(--bright-green);
  border: 2px solid var(--bright-green);
  color: var(--dark);
}

/*------------------------------------------------------------
  Header
------------------------------------------------------------*/

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  max-width: 100%;
  border-bottom: 2px solid var(--light-green);
}

#header .container-lg {
  display: flex;
  justify-content: space-between;
}

.text-logo {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  transition: text-shadow 0.2s ease-in-out;
  text-shadow: 0px 1px 5px var(--bright-green);
}

.logo {
  width: 100%;
  max-width: 120px;
  min-width: 120px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-right: 25px;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  transition: border 0.25s ease-in-out;
}

.navbar ul li:hover {
  border-bottom: 1px solid var(--bright-green);
}

.navbar ul li a {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  display: inline-block;
  color: var(--light-green);
}

.navbar ul li a:hover {
  color: var(--bright-green);
}

/*------------------------------------------------------------
  Hero
------------------------------------------------------------*/

#hero {
  padding: var(--160px) var(--40px);
  height: 100vh;
  max-height: 1080px;
  min-height: 768px;
}

#hero .sub-head {
  font-size: var(--20px);
  margin-bottom: var(--20px);
}

#hero h1 {
  font-size: var(--80px);
  font-weight: 300;
  margin-bottom: 10px;
}

#hero hr {
  width: 100%;
  max-width: 300px;
}

#hero a {
}

#hero p {
  margin: 20px 0 60px;
  max-width: 700px;
}

#hero .profile {
  padding-left: 100px;
}

#hero .profile img {
  width: 420px;
}

#hero .btn-primary {
  color: var(--dark);
}

#hero .btn-secondary {
  margin-right: var(--20px);
}

/*------------------------------------------------------------
  Work Experience
------------------------------------------------------------*/

#experience {
  padding-bottom: 60px;
}

hr {
  display: inline-block;
  width: 100%;
  background-color: var(--light-green);
  border: none;
  height: 2px;
}

.role {
  border: 2px solid var(--light-green);
  border-radius: 5px;
  padding: 60px 40px;
  text-align: center;
}

.role-list {
  padding: 40px 0;
}

.role-list hr {
  width: 5%;
  margin: 15px 0;
}

.role-list ul li {
  line-height: 2.5rem;
  margin-left: 15px;
}

.v-line {
  position: relative;
  width: 2px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--light-green);
}

.v-line::before {
  content: "";
  background-color: var(--light-green);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2px solid var(--light-green);
  border-radius: 5px;
  padding: var(--20px);
}

.icon-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--20px);
}

.icon-group img {
  height: 60px;
  padding-bottom: 5px;
}

#experience .icon-group .icon-name {
  font-size: 12px;
  letter-spacing: 0.2rem;
  margin: 0;
}

/*------------------------------------------------------------
  Portfolio
------------------------------------------------------------*/

#portfolio .content {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.projects .project-item {
  position: relative;
}

.projects img {
  width: 100%;
  max-width: 100%;
  filter: saturate(0);
}

.project-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.2rem;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 500;
}

/*------------------------------------------------------------ 
  max-width: 1280px
------------------------------------------------------------*/

@media only screen and (max-width: 80em) {
  .logo {
    width: 100%;
    max-width: 100px;
    min-width: 100px;
  }

  .navbar ul li a {
    font-size: var(--14px);
  }

  .btn-primary {
    padding: 8px 20px;
  }

  #hero .profile {
    padding-left: 80px;
  }
}

/*------------------------------------------------------------ 
  max-width: 992px
------------------------------------------------------------*/

@media only screen and (max-width: 62em) {
  #header {
    padding: 10px 20px;
  }

  .navbar ul li {
    margin-right: var(--14px);
  }

  #hero {
    height: auto;
    max-height: 100%;
    padding: var(--80px) var(--20px);
  }

  #hero h1 {
    font-size: var(--60px);
  }

  #hero .flex {
    flex-direction: column;
    gap: 80px;
  }

  #hero .profile {
    padding: 0;
  }

  #hero .profile img {
    width: 100%;
    max-width: 420px;
  }

  #hero .content {
    text-align: center;
    width: 100%;
    max-width: 620px;
  }

  #hero hr {
    max-width: 250px;
  }

  .btn-group {
    justify-content: center;
    align-items: center;
  }
}

/*------------------------------------------------------------ 
  max-width: 768px
------------------------------------------------------------*/

@media only screen and (max-width: 48em) {
  .navbar .nav-links {
    display: none;
  }
}

/*------------------------------------------------------------ 
  max-width: 480px
------------------------------------------------------------*/

@media only screen and (max-width: 30em) {
  .section {
    padding: var(--40px) var(--20px);
  }

  #hero p {
    margin-bottom: 40px;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
  }

  #hero .btn-secondary {
    margin: 0;
  }
}
