/*------------------------------------------------------------
  Portfolio
------------------------------------------------------------*/

.portfolio {
  background-color: var(--light-gray);
}

.portfolio .content {
  text-align: center;
}

.portfolio .heading-1 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.project-container {
}

.project-container p {
  padding: 10px 0;
  margin: 20px 0;
}

.project {
  position: relative;
  width: auto;
}

.project span {
  color: var(--main);
}

.project-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 5px;
  outline: 1px solid transparent;
  transition: all 0.5s ease;
  overflow: hidden;
  width: 100%;
}

.project-img-wrapper:hover {
  border: 2px solid var(--light-green);
  -webkit-box-shadow: 0 0 10px var(--light-green);
  box-shadow: 0 0 10px var(--light-green);
}

.project img {
  display: block;
  width: 100%;
  text-align: center;
  transition: 0.5s ease;
  filter: saturate(0);
}

.project:hover img {
  filter: saturate(1);
}

.project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: var(--40px);
  padding-top: var(--40px);
}

.project-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-size: var(--14px);
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  /* text-transform: uppercase; */
  color: var(--dark);
  background-color: var(--light-green);
  padding: 12px 0;
  outline: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  max-width: 120px;
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-img-wrapper:hover .project-btn {
  opacity: 1;
}

/*------------------------------------------------------------ 
  max-width: 1280px
------------------------------------------------------------*/

@media only screen and (max-width: 80em) {
  .project-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/*------------------------------------------------------------ 
  max-width: 992px
------------------------------------------------------------*/

@media only screen and (max-width: 62em) {
  .project-btn {
    display: none;
  }
}

/*------------------------------------------------------------ 
  max-width: 480px
------------------------------------------------------------*/

@media only screen and (max-width: 30em) {
  .project-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/*------------------------------------------------------------
  Portfolio



.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.projects .project-item {
  position: relative;
}

.projects img {
  width: 100%;
  max-width: 100%;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.project-overlay {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.2rem;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 500;
}
------------------------------------------------------------*/
