/*------------------------------------------------------------
  Work Experience
------------------------------------------------------------*/

#experience {
  padding-bottom: 60px;
}

hr {
  display: inline-block;
  width: 100%;
  background-color: var(--light-green);
  border: none;
  height: 2px;
}

.role {
  outline: 1px solid transparent;
  border: 2px solid var(--light-green);
  border-radius: 5px;
  padding: 60px 40px;
  text-align: center;
}

.role-list {
  padding: 40px 0;
}

.role-list hr {
  width: 5%;
  margin: 15px 0;
}

.role-list ul li {
  line-height: 2.5rem;
  margin-left: 15px;
}

.v-line {
  position: relative;
  width: 2px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--light-green);
}

.v-line::before {
  content: "";
  background-color: var(--light-green);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 2px solid var(--light-green);
  border-radius: 5px;
  padding: var(--20px);
}

.icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: var(--20px);
}

.icon-group img {
  height: 60px;
  padding-bottom: 5px;
}

#experience .icon-group .icon-name {
  font-size: 12px;
  letter-spacing: 0.2rem;
  margin: 0;
}
